@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Signika&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"), url("../assets/fonts/ProductSans/ProductSans-Regular.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
}

a:focus {
  outline: none;
}

input,
button:focus {
  outline: none;
}

body {
  overflow: hidden;
  background: #000424;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

.content {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

.content.appear {
  display: block;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.loading-overlay img {
  width: 5rem;
  -webkit-animation: rotate-logo 1.5s ease 0s infinite normal;
          animation: rotate-logo 1.5s ease 0s infinite normal;
}

.loading-overlay.dissappear {
  display: none;
}

@-webkit-keyframes rotate-logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(356deg);
            transform: rotate(356deg);
  }
}

@keyframes rotate-logo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(356deg);
            transform: rotate(356deg);
  }
}

::-webkit-scrollbar {
  height: 0.7rem;
  width: 0.7rem;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: #000215;
}

::-webkit-scrollbar-thumb {
  background: #000638;
}

@media screen and (max-width: 1165px) {
  ::-webkit-scrollbar {
    height: 0;
    width: 0;
    cursor: unset;
  }
  ::-webkit-scrollbar-track {
    cursor: pointer;
    background: unset;
  }
  ::-webkit-scrollbar-thumb {
    background: unset;
  }
}

.container {
  width: 100%;
  max-width: 60rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 7rem 0;
}

@media screen and (max-width: 1552px) {
  .container {
    margin: 5rem 0;
    max-width: 60rem;
  }
}

@media screen and (max-width: 1165px) {
  .container {
    margin: 5rem 0;
    max-width: 45rem;
  }
}

@media screen and (max-width: 769px) {
  .container {
    margin: 5rem 1rem;
    max-width: 35rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 15rem;
    margin: 5rem 1rem;
    padding: 0 1rem;
    max-width: 23rem;
  }
}

.home h1 {
  font-family: 'Product Sans Regular', 'Open Sans', sans-serif;
  color: #d1ced5;
  font-size: 5rem;
  font-stretch: semi-expanded;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0.25s 1 normal forwards;
          animation: appear 0.5s ease-out 0.25s 1 normal forwards;
  margin-bottom: 2 rem;
}

.home h4 {
  font-family: 'Fira Mono';
  color: #6689a7;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1.3rem;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0s 1 normal forwards;
          animation: appear 0.5s ease-out 0s 1 normal forwards;
  margin-left: 4px;
}

.home h2 {
  font-family: 'Product Sans Regular', 'Open Sans', sans-serif;
  color: #6689a7;
  font-size: 4rem;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
          animation: appear 0.5s ease-out 0.5s 1 normal forwards;
  margin-top: 0.5rem;
}

.home p {
  margin-top: 3rem;
  color: #d1ced5;
  font-family: 'Fira Mono';
  font-size: 1.3rem;
  line-height: 30px;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0.75s 1 normal forwards;
          animation: appear 0.5s ease-out 0.75s 1 normal forwards;
  padding-right: 15rem;
}

.home button {
  display: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: 'Fira Mono';
  margin-top: 5rem;
  background: none;
  color: #6689a7;
  border: #6689a7 solid 1px;
  border-radius: 0.2rem;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 1s 1 normal forwards;
          animation: appear 0.5s ease-out 1s 1 normal forwards;
  -webkit-transition: background ease-in 0.1s;
  transition: background ease-in 0.1s;
}

.home button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.home button:focus {
  background: rgba(255, 255, 255, 0.2);
}

.home__contact {
  -webkit-animation: appear 0.5s ease-out 1s 1 normal forwards;
          animation: appear 0.5s ease-out 1s 1 normal forwards;
  margin-top: 2rem;
  opacity: 0;
}

.home__contact a {
  width: 3rem;
  height: 3rem;
}

.home__contact a:not(:last-child) {
  margin-right: 1.5rem;
}

.home__contact a img {
  width: 2rem;
  height: 2rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.home__contact a img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media screen and (max-width: 1552px) {
  .home h1 {
    font-size: 4.5rem;
  }
  .home h2 {
    font-size: 3.2rem;
  }
  .home p {
    font-size: 1rem;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 1165px) {
  .home h1 {
    font-size: 4.3rem;
    margin-bottom: 3.3rem;
    margin-bottom: 1rem;
  }
  .home h2 {
    font-size: 3rem;
  }
  .home h4, .home p {
    font-size: 1.3rem;
  }
  .home p {
    padding-right: 10rem;
  }
}

@media screen and (max-width: 769px) {
  .home h1 {
    font-size: 3.6rem;
  }
  .home h2 {
    font-size: 2.8rem;
  }
  .home p {
    padding-right: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .home h1 {
    font-size: 2.2rem;
  }
  .home h2 {
    font-size: 1.7rem;
  }
  .home h4, .home p {
    font-size: 1rem;
  }
  .home p {
    padding-right: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contact {
  opacity: 0;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  -webkit-transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s, -webkit-transform ease 0.9s;
  font-family: 'Signika', sans-serif;
}

.contact.visible {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  opacity: 1;
}

.contact h1 {
  font-family: 'Product Sans Regular';
  color: #d1ced5;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 3rem;
  border-radius: 0.3rem;
}

.contact__form .input-group {
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  margin: 1.5rem 0rem;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form .input-group input, .contact__form .input-group textarea {
  width: 100%;
  border-radius: 0.3rem;
}

.contact__form .input-group input:focus + .input-group__placeholder, .contact__form .input-group input:valid + .input-group__placeholder, .contact__form .input-group textarea:focus + .input-group__placeholder, .contact__form .input-group textarea:valid + .input-group__placeholder {
  -webkit-transform: translate(0.2rem, -3.5rem);
          transform: translate(0.2rem, -3.5rem);
}

.contact__form .input-group input:focus, .contact__form .input-group textarea:focus {
  -webkit-box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, 0.4);
}

.contact__form .input-group__placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  position: absolute;
  top: 1.7rem;
  -webkit-transform: translate(1rem, -50%);
          transform: translate(1rem, -50%);
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.contact__form input, .contact__form textarea {
  background: none;
  border: none;
  padding: 1rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.contact__form .button {
  margin-top: 2rem;
  width: 35%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1165px) {
  .contact h1 {
    font-size: 1.6rem;
  }
  .contact__form {
    padding: 0rem;
    margin: 0rem;
  }
}

.about {
  opacity: 0;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  -webkit-transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s, -webkit-transform ease 0.9s;
}

.about.visible {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  opacity: 1;
}

.about h1 {
  font-family: 'Product Sans Regular';
  color: #d1ced5;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about p {
  color: #d1ced5;
  font-family: 'Fira Mono';
  font-size: 1rem;
  line-height: 30px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content .about__image__container {
  width: 20rem;
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content .about__image__container__image {
  margin-left: 1.3rem;
  margin-top: 1.3rem;
  border: solid 1px white;
}

.about__content .about__image__container img {
  width: 20rem;
  height: 20rem;
  -webkit-transform: translate(-1.3rem, -1.3rem);
          transform: translate(-1.3rem, -1.3rem);
}

.about__content .about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content .about__text .about__technologies {
  margin-top: 1rem;
  color: #d1ced5;
}

.about__content .about__text .about__technologies__grid {
  display: -ms-grid;
  display: grid;
  padding-left: 2rem;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about__content .about__text .about__technologies__grid ul {
  margin-top: 1rem;
  color: #d1ced5;
  font-family: 'Fira Mono';
  font-size: 0.8rem;
  line-height: 30px;
}

.about__content .about__text .about__technologies__grid ul li {
  padding-left: 0.2rem;
}

@media screen and (max-width: 1165px) {
  .about h1 {
    font-size: 1.6rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about__content {
    display: block;
  }
  .about__content .about__image__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-right: unset;
    margin-bottom: 2rem;
  }
  .about__content .about__image__container img {
    width: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .about p {
    font-size: 1rem;
  }
}

.experience {
  opacity: 0;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  -webkit-transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s, -webkit-transform ease 0.9s;
}

.experience.visible {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  opacity: 1;
}

.experience h1 {
  font-family: "Product Sans Regular";
  color: #d1ced5;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.experience__grid {
  width: 100%;
  height: 75%;
  display: -ms-grid;
  display: grid;
  color: #d1ced5;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background: rgba(0, 0, 0, 0.1);
      grid-template-areas: "employers details details details";
}

.experience__grid .experience__employers {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: employers;
  font-family: "Product Sans Regular", sans-serif;
}

.experience__grid .experience__employers .experience__button {
  background: none;
  border: none;
  color: #d1ced5;
  font-family: "Product Sans Regular", sans-serif;
  padding: 1rem;
  display: inline-block;
  width: 100%;
  -webkit-transition: background ease 0.3s;
  transition: background ease 0.3s;
  position: relative;
}

.experience__grid .experience__employers .experience__button.selected {
  background: rgba(0, 0, 0, 0.2);
}

.experience__grid .experience__employers .experience__button::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  background-color: #6689a7;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}

.experience__grid .experience__employers .experience__button:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.experience__grid .experience__employers .experience__button:hover::after {
  opacity: 1;
}

.experience__grid .experience__details {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: details;
  padding: 1rem;
  padding-left: 3rem;
  background: rgba(0, 0, 0, 0.2);
  font-family: "Roboto";
  font-weight: 200;
}

.experience__grid .experience__details .experience__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: -1rem;
  margin-bottom: 0.3rem;
  font-family: "Product Sans Regular", sans-serif;
}

.experience__grid .experience__details .experience__title span {
  color: #6689a7;
}

.experience__grid .experience__details .experience__duration {
  margin-left: -1rem;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  color: #6689a7;
}

.experience__grid .experience__details li {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.experience__grid .experience__details li span {
  font-weight: bold;
}

@media screen and (max-width: 1165px) {
  .experience h1 {
    font-size: 1.6rem;
  }
  .experience__grid {
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "employers" "details";
  }
  .experience__grid .experience__employers .experience__button {
    width: unset;
  }
  .experience__grid .experience__details {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .experience p {
    font-size: 1rem;
  }
}

.projects {
  opacity: 0;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  -webkit-transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, -webkit-transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s;
  transition: opacity ease 0.9s, transform ease 0.9s, -webkit-transform ease 0.9s;
}

.projects.visible {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  opacity: 1;
}

.projects h1 {
  font-family: "Product Sans Regular";
  color: #d1ced5;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.projects__project-container {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20rem;
}

.projects__project-container .project-container__image {
  width: 55%;
  height: 20rem;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
}

.projects__project-container .project-container__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 4, 36, 0.7);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.projects__project-container .project-container__image:hover::after {
  background: rgba(0, 4, 36, 0);
}

.projects__project-container .project-container__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  width: 45%;
  color: #6689a7;
  font-family: "Product Sans Regular", "Roboto", sans-serif;
  position: relative;
}

.projects__project-container .project-container__description .project-container__textbox {
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
  color: #d1ced5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  width: 118%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background: #000633;
}

.projects__project-container .project-container__description .project-container__title {
  font-size: 1.5rem;
  margin-left: auto;
  font-weight: bold;
}

.projects__project-container .project-container__description .project-container__tech {
  margin-top: auto;
  margin-left: auto;
  font-size: 0.8rem;
  font-family: "Fira Mono", sans-serif !important;
  color: #d1ced5;
}

.projects__project-container .project-container__description .project-container__links {
  margin-left: auto;
  margin-top: 1.7rem;
}

.projects__project-container .project-container__description .project-container__links img {
  width: 1.5rem;
}

.projects__project-container:nth-child(2n-1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects__project-container:nth-child(2n-1) .project-container__textbox {
  right: unset;
  left: 0;
}

.projects__project-container:nth-child(2n-1) .project-container__title {
  margin-left: unset;
}

.projects__project-container:nth-child(2n-1) .project-container__tech {
  margin-left: 0;
  margin-right: auto;
}

.projects__project-container:nth-child(2n-1) .project-container__links {
  margin-left: unset;
}

.projects__other-projects {
  margin-top: 8rem;
  text-align: center;
  color: #6689a7;
  font-family: "Product Sans Regular", "Roboto", sans-serif;
}

.projects__other-projects__header {
  font-size: 1.8rem !important;
}

.projects__other-projects__folders {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (330px)[3];
      grid-template-columns: repeat(3, 330px);
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__other-projects__folder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  margin-top: 20px;
  height: 350px;
  padding: 1.5rem;
  text-align: left;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  background: #000529;
}

.projects__other-projects__folder:hover, .projects__other-projects__folder:focus-within {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.projects__other-projects__folder__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.projects__other-projects__folder__link a img {
  width: 24px;
  height: 24px;
}

.projects__other-projects__folder__title {
  font-size: 1.3rem;
  height: 4rem;
}

.projects__other-projects__folder__description {
  color: #d1ced5;
  line-height: 1.4rem;
}

.projects__other-projects__folder__tech {
  margin-top: auto;
  font-size: 0.8rem;
  font-family: "Fira Mono", sans-serif !important;
}

@media screen and (max-width: 1165px) {
  .projects h1 {
    font-size: 1.6rem;
  }
  .projects p {
    font-size: 1rem;
  }
  .projects__project-container .project-container__description .project-container__title {
    font-size: 1.5rem;
  }
  .projects__other-projects__header {
    font-size: 2rem !important;
  }
  .projects__other-projects__folders {
    -ms-grid-columns: (250px)[3];
        grid-template-columns: repeat(3, 250px);
  }
  .projects__other-projects__folders__folder {
    height: 300px;
    justify-items: center;
    -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 769px) {
  .projects__project-container {
    position: relative;
    width: 100%;
  }
  .projects__project-container .project-container__image {
    width: 100%;
  }
  .projects__project-container .project-container__image::after {
    background: rgba(0, 4, 36, 0.85);
  }
  .projects__project-container .project-container__description {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects__project-container .project-container__description .project-container__title {
    color: #d1ced5;
    margin-left: 0;
  }
  .projects__project-container .project-container__description .project-container__textbox {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0;
    width: 100%;
    background: none;
  }
  .projects__project-container .project-container__description .project-container__links {
    margin-top: unset;
    margin-left: 0;
  }
  .projects__project-container .project-container__description .project-container__tech {
    margin-top: 0.5rem;
    margin-left: 0;
  }
  .projects__other-projects__header {
    font-size: 1.5rem !important;
  }
  .projects__other-projects__folders {
    -ms-grid-columns: (250px)[2];
        grid-template-columns: repeat(2, 250px);
    margin: 0 2rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .projects p {
    font-size: 1rem;
  }
  .projects__other-projects__header {
    font-size: 1.5rem !important;
  }
  .projects__other-projects__folders {
    -ms-grid-columns: minmax(100%, 300px);
        grid-template-columns: minmax(100%, 300px);
    margin: 0 2rem;
    margin-top: 2rem;
  }
}

.button {
  padding: 0.8rem;
  font-size: 1rem;
  font-family: 'Fira Mono';
  background: none;
  color: #6689a7;
  border: #6689a7 solid 1px;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: background ease 0.3s;
  transition: background ease 0.3s;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0 8rem;
  background: #000424;
  z-index: 100;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav.bg-toggle {
  background: #000529;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.nav .nav__brand {
  color: #d1ced5;
  font-size: 2.2rem;
  opacity: 0;
  -webkit-animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
          animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
  font-family: 'Fira Mono';
}

.nav .nav__toggle {
  display: none;
}

.nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
  font-size: 0.9rem;
  opacity: 0;
  -webkit-animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
          animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
}

.nav .nav__links li {
  position: relative;
}

.nav .nav__links li a {
  font-family: 'Fira Mono';
  color: #d1ced5;
}

.nav .nav__links li:not(:last-child) {
  margin-right: 2.5rem;
}

.nav .nav__links li:not(:last-child)::after {
  position: absolute;
  content: '';
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d1ced5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.nav .nav__links li:not(:last-child):hover::after, .nav .nav__links li:not(:last-child).visible::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav .nav__links__contact {
  display: none;
  margin-top: 2rem;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.nav .nav__links__contact a {
  width: 3rem;
  height: 3rem;
}

.nav .nav__links__contact a:not(:last-child) {
  margin-right: 1.5rem;
}

.nav .nav__links__contact a img {
  width: 2rem;
  height: 2rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav .nav__links__contact a img:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.nav .button {
  font-size: 0.8rem;
}

@media screen and (max-width: 1552px) {
  .nav {
    padding: 0 4rem;
    height: 4rem;
  }
  .nav .nav__brand {
    font-size: 1.6rem;
  }
  .nav .button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1165px) {
  .nav {
    padding: 0 2rem;
    height: 4rem;
  }
  .nav .nav__brand {
    font-size: 1.7rem;
    opacity: 0;
  }
  .nav .nav__links {
    font-size: 1rem;
  }
  .nav .nav__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2.5rem;
    width: 3rem;
    margin-left: auto;
    background: none;
    padding: 0;
    border: #d1ced5;
    position: relative;
  }
  .nav .nav__toggle .nav__hamburger {
    position: relative;
    z-index: 7;
    height: 3px;
    width: 3rem;
    border: 1px solid #6689a7;
    border-radius: 2px;
  }
  .nav .nav__toggle .nav__hamburger:nth-child(1) {
    position: relative;
    width: 1.5rem;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .nav .nav__toggle .nav__hamburger:nth-child(3) {
    position: relative;
    width: 1.5rem;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .nav .nav__toggle.toggled .nav__hamburger:nth-child(1) {
    -webkit-transform: translateX(13px) translateY(5px) rotate(30deg);
            transform: translateX(13px) translateY(5px) rotate(30deg);
  }
  .nav .nav__toggle.toggled .nav__hamburger:nth-child(3) {
    -webkit-transform: translateX(13px) translateY(-4px) rotate(-30deg);
            transform: translateX(13px) translateY(-4px) rotate(-30deg);
  }
  .nav .nav__links {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 5;
    background-color: #00052e;
    height: 100vh;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform ease 0.5s;
    transition: -webkit-transform ease 0.5s;
    transition: transform ease 0.5s;
    transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  }
  .nav .nav__links__contact {
    display: unset;
  }
  .nav .nav__links__contact a {
    width: 2rem;
    height: 2rem;
  }
  .nav .nav__links__contact a:not(:last-child) {
    margin-right: 1.2rem;
  }
  .nav .nav__links__contact a img {
    height: 100%;
  }
  .nav .nav__links li {
    margin-right: 0 !important;
  }
  .nav .nav__links.toggled {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes nav-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d1ced5;
  margin-top: 4rem;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.footer a {
  color: white;
  font-weight: 500;
}
