@font-face {
  font-family: 'Signika';
  src: url("../assets/fonts/Signika/Signika-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Tourmaline Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Bold"), url("../assets/fonts/Tourmaline/Tourmaline-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Brush';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Brush"), url("../assets/fonts/Tourmaline/Tourmaline-Brush.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Deconstructed';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Deconstructed"), url("../assets/fonts/Tourmaline/Tourmaline-Deconstructed.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Deconstructed 2';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Deconstructed 2"), url("../assets/fonts/Tourmaline/Tourmaline-Deconstructed2.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Evolution';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Evolution"), url("../assets/fonts/Tourmaline/Tourmaline-Evolution.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Geek';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Geek"), url("../assets/fonts/Tourmaline/Tourmaline-Geek.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Glitch';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Glitch"), url("../assets/fonts/Tourmaline/Tourmaline-Glitch.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Lines';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Lines"), url("../assets/fonts/Tourmaline/Tourmaline-Lines.woff") format("woff");
}

@font-face {
  font-family: 'Tourmaline Printed';
  font-style: normal;
  font-weight: normal;
  src: local("Tourmaline Printed"), url("../assets/fonts/Tourmaline/Tourmaline-Printed.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"), url("../assets/fonts/ProductSans/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Italic"), url("../assets/fonts/ProductSans/ProductSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Regular"), url("../assets/fonts/ProductSans/ProductSans-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Regular"), url("../assets/fonts/ProductSans/ProductSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Regular"), url("../assets/fonts/ProductSans/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Regular"), url("../assets/fonts/ProductSans/ProductSans-Black.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Italic"), url("../assets/fonts/ProductSans/ProductSans-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Italic"), url("../assets/fonts/ProductSans/ProductSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Italic"), url("../assets/fonts/ProductSans/ProductSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold"), url("../assets/fonts/ProductSans/ProductSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold Italic"), url("../assets/fonts/ProductSans/ProductSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Italic"), url("../assets/fonts/ProductSans/ProductSans-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: normal;
  src: local("Fira Mono"), url("FiraMono-Regular.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

a {
  text-decoration: none;
  -webkit-text-emphasis: none;
          text-emphasis: none;
}

a:focus {
  outline: none;
}

input:focus {
  outline: none;
}

body {
  scroll-behavior: smooth;
  background: #000424;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 60rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 7rem 0;
}

@media screen and (max-width: 1552px) {
  .container {
    margin: 5rem 0;
    max-width: 50rem;
  }
}

@media screen and (max-width: 1165px) {
  .container {
    margin: 5rem 0;
    max-width: 45rem;
  }
}

@media screen and (max-width: 769px) {
  .container {
    margin: 5rem 1rem;
    max-width: 35rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 15rem;
    margin: 5rem 1rem;
    padding: 0 1rem;
    max-width: 23rem;
  }
}

.button {
  padding: 0.8rem;
  font-size: 1rem;
  font-family: 'Fira Mono';
  background: none;
  color: #6689a7;
  border: #6689a7 solid 1px;
  border-radius: 0.2rem;
  cursor: pointer;
  -webkit-transition: background ease-in 0.1s;
  transition: background ease-in 0.1s;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  padding: 0 8rem;
}

.nav .nav-brand {
  color: #d1ced5;
  font-size: 2.2rem;
  opacity: 0;
  -webkit-animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
          animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
  font-family: 'Fira Mono';
}

.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
  opacity: 0;
  -webkit-animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
          animation: nav-appear 0.6s ease-out 0s 1 normal forwards;
}

.nav .nav-links li a {
  font-family: 'Fira Mono';
  color: #d1ced5;
}

.nav .nav-links li:not(:last-child) {
  margin-right: 3rem;
}

@-webkit-keyframes nav-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home h1 {
  font-family: 'Product Sans Regular';
  color: #d1ced5;
  font-size: 5rem;
  font-stretch: semi-expanded;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0.25s 1 normal forwards;
          animation: appear 0.5s ease-out 0.25s 1 normal forwards;
  margin-bottom: 2 rem;
}

.home h4 {
  font-family: 'Fira Mono';
  color: #6689a7;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1.3rem;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0s 1 normal forwards;
          animation: appear 0.5s ease-out 0s 1 normal forwards;
  margin-left: 4px;
}

.home h2 {
  font-family: 'Product Sans Regular';
  color: #6689a7;
  font-size: 4rem;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0.5s 1 normal forwards;
          animation: appear 0.5s ease-out 0.5s 1 normal forwards;
  margin-top: 0.5rem;
}

.home p {
  margin-top: 3rem;
  color: #d1ced5;
  font-family: 'Fira Mono';
  font-size: 1.3rem;
  line-height: 30px;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 0.75s 1 normal forwards;
          animation: appear 0.5s ease-out 0.75s 1 normal forwards;
  padding-right: 15rem;
}

.home button {
  display: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: 'Fira Mono';
  margin-top: 5rem;
  background: none;
  color: #6689a7;
  border: #6689a7 solid 1px;
  border-radius: 0.2rem;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: appear 0.5s ease-out 1s 1 normal forwards;
          animation: appear 0.5s ease-out 1s 1 normal forwards;
  -webkit-transition: background ease-in 0.1s;
  transition: background ease-in 0.1s;
}

.home button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.home button:focus {
  background: rgba(255, 255, 255, 0.2);
}

.home .contact {
  margin-top: 1.5rem;
}

.home .contact a {
  width: 3rem;
  height: 3rem;
}

.home .contact a:not(:last-child) {
  margin-right: 1.5rem;
}

.home .contact a img {
  width: 2rem;
  height: 2rem;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 1552px) {
  .home h1 {
    font-size: 5rem;
  }
  .home h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1165px) {
  .home h1 {
    font-size: 4.3rem;
    margin-bottom: 3.3rem;
    margin-bottom: 1rem;
  }
  .home h2 {
    font-size: 3rem;
  }
  .home h4, .home p {
    font-size: 1.3rem;
  }
  .home p {
    padding-right: 10rem;
  }
}

@media screen and (max-width: 769px) {
  .home h1 {
    font-size: 3.6rem;
  }
  .home h2 {
    font-size: 2.8rem;
  }
  .home p {
    padding-right: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .home h1 {
    font-size: 2.2rem;
  }
  .home h2 {
    font-size: 1.7rem;
  }
  .home h4, .home p {
    font-size: 1rem;
  }
  .home p {
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.main.css.map */